{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'profile.show.money'|trans }}: {{ user.money }}</p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#listings">Listings</a></li>
        <li><a data-toggle="tab" href="#inventory">Inventory</a></li>
    </ul>

    <div class="tab-content">
        <div id="listings" style="padding: 20px;" class="tab-pane fade in active">
            <div class="items">
                <div class="row item-list ">
                    <div class="col-xs-5 col-md-4 col-lg-3">
                        <a href=""><div class="thumbnail-p" style="background: url('KARTINKATA TUKA') 50% 50% no-repeat; width: 150px; height: 150px ;"></div></a>
                    </div>
                    <div class="col-xs-5 col-lg-9">
                        <a href="">zaglavie<p class="title"></p></a>
                        <p class="description">opisanie</p>
                        Price: 69$
                    </div>
                </div>

                <div class="row item-list ">
                    <div class="col-xs-5 col-md-4 col-lg-3">
                        <a href=""><div class="thumbnail-p" style="background: url('KARTINKATA TUKA') 50% 50% no-repeat; width: 150px; height: 150px ;"></div></a>
                    </div>
                    <div class="col-xs-5 col-lg-9">
                        <a href="">zaglavie<p class="title"></p></a>
                        <p class="description">opisanie</p>
                        <p>Price: 69$</p>
                        <p style="color: #919191;">Category: seks igra4ki</p>
                    </div>
                </div>
            </div>

        </div>
        <div id="inventory" style="padding: 20px;" class="tab-pane fade">
            <div class="items">
                <div class="row item-list ">
                    <div class="col-xs-5 col-md-4 col-lg-3">
                        <a href=""><div class="thumbnail-p" style="background: url('KARTINKATA TUKA') 50% 50% no-repeat; width: 150px; height: 150px ;"></div></a>
                    </div>
                    <div class="col-xs-5 col-lg-9">
                        <a href="">zaglavie<p class="title"></p></a>
                        <p class="description">opisanie</p>
                        Price: 69$
                    </div>
                </div>

                <div class="row item-list ">
                    <div class="col-xs-5 col-md-4 col-lg-3">
                        <a href=""><div class="thumbnail-p" style="background: url('KARTINKATA TUKA') 50% 50% no-repeat; width: 150px; height: 150px ;"></div></a>
                    </div>
                    <div class="col-xs-5 col-lg-9">
                        <a href="">zaglavie<p class="title"></p></a>
                        <p class="description">opisanie</p>
                        Price: 69$
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
