{% extends '::base.html.twig' %}



{% block body %}
    <div id="sideMenu" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>


    <div class="items">
        {% for article in pagination %}
            <!--<tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.name }}" /></td>
                <td>{{ article.price }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
            </tr>-->

            <div class="items">
                <div class="row item-list {% if loop.index is odd %}odd-item{% endif %}">
                    <div class="col-xs-5 col-md-4 col-lg-3">
                        <a href="{{ path('product_show', { 'id': article.id }) }}"><div class="thumbnail-p" style="background: url('{{ vich_uploader_asset(article, 'imageFile') }}') 50% 50% no-repeat; width: 150px; height: 150px ;"></div></a>
                    </div>
                    <div class="col-xs-5 col-lg-9">
                        <a href="{{ path('product_show', { 'id': article.id }) }}"><p class="title">{{ article.name }}</p></a>
                        <p class="description">{{ article.description }}</p>
                        Price: {{ article.price }}$
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <script src="{{ asset('js/listing.js') }}"></script>
{% endblock %}
