{% extends '::base.html.twig' %}



{% block body %}
    <div id="sideMenu" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.name }}" /></td>
                <td>{{ article.price }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <script src="{{ asset('js/listing.js') }}"></script>
{% endblock %}
