{% extends '::base.html.twig' %}
{% block title %}Admin | Users{% endblock %}

{% block javascripts_begin %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}
{% block body %}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>


<div class="items">
    {% for user in pagination %}

        <div class="item-{{ user.id }}">
            <div class="row item-list {% if loop.index is odd %}odd-item{% endif %}">
                <a href="{{ path('user_view', { 'id': user.id }) }}"><p class="username">{{ user.username }}</p></a>
                <p class="money">Money: {{ user.money }}</p>
                <p class="role">Role: {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </p>
                <button class="js-processed-actions btn btn-danger" type="button" data-path="{{ path('user_ban_username', { 'id': user.id }) }}">Ban {{ user.username }}</button>
                <button class="js-processed-actions btn btn-danger" type="button" data-path="{{ path('user_ban_ip', { 'id': user.id }) }}">Ban {{ user.username }} by IP</button>
                <button class="js-processed-actions btn btn-warning" type="button" data-path="{{ path('user_edit_red', { 'id': user.id }) }}">Edit Account</button>
                <button class="js-processed-actions btn btn-danger" type="button" data-path="{{ path('user_delete', { 'id': user.id }) }}">Delete Account</button>
            </div>
        </div>
    {% endfor %}
</div>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
